@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0 0);
--color-gray-100: oklch(0.97 0 0);
--color-gray-200: oklch(0.922 0 0);
--color-gray-300: oklch(0.87 0 0);
--color-gray-400: oklch(0.708 0 0);
--color-gray-500: oklch(0.556 0 0);
--color-gray-600: oklch(0.439 0 0);
--color-gray-700: oklch(0.371 0 0);
--color-gray-800: oklch(0.269 0 0);
--color-gray-900: oklch(0.205 0 0);
--color-gray-950: oklch(0.145 0 0);
--color-primary-50: oklch(0.97 0.013 250.43);
--color-primary-100: oklch(0.942 0.028 251.295);
--color-primary-200: oklch(0.885 0.058 252.891);
--color-primary-300: oklch(0.805 0.106 254.139);
--color-primary-400: oklch(0.704 0.165 255.568);
--color-primary-500: oklch(0.628 0.214 257.138);
--color-primary-600: oklch(0.548 0.227 258.281);
--color-primary-700: oklch(0.455 0.196 259.815);
--color-primary-800: oklch(0.387 0.157 261.067);
--color-primary-900: oklch(0.338 0.118 262.458);
--color-primary-950: oklch(0.241 0.082 263.826);
--color-secondary-50: oklch(0.977 0.024 85.873);
--color-secondary-100: oklch(0.951 0.048 85.873);
--color-secondary-200: oklch(0.893 0.096 85.873);
--color-secondary-300: oklch(0.826 0.158 85.873);
--color-secondary-400: oklch(0.747 0.218 85.873);
--color-secondary-500: oklch(0.701 0.231 85.873);
--color-secondary-600: oklch(0.636 0.216 85.873);
--color-secondary-700: oklch(0.547 0.178 85.873);
--color-secondary-800: oklch(0.463 0.143 85.873);
--color-secondary-900: oklch(0.402 0.114 85.873);
--color-secondary-950: oklch(0.267 0.072 85.873);

/* Typography */
--font-family: "Inter";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}